<div class="footer-bottom py-4">
	<div class="container">
		<div class="text-center">
			<%= form_for :message do%>
			<div class="row text-center">
				<div class="col-md-2">
					<%= text_field_tag :password, nil, class: 'form-control' %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>